
<!--
<div class="p-2 text-center">
  <h1>Create your account:</h1>
  <h3 *ngIf="isRegistrationInvalid"><p>Username already exists!</p></h3>
</div>


<form class="p-2 text-center">
  <div class="form-group">
    <label>Username</label>
    <input type="text" [(ngModel)]="user.userName" name="userName" class="form-control" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-dark" (click)="onSubmit()">Submit</button>
</form>
-->

<div class="login-wrapper login-top" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
      <h3 *ngIf="isRegistrationInvalid"><p>Username already exists!</p></h3>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" type="text" [(ngModel)]="user.userName" name="userName" class="form-control">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" [(ngModel)]="user.password" name="password" class="form-control">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="black" class="btn-block" (click)="onSubmit()">Submit</button>
    </form>
  </mat-card>

</div>

