<div class="m-3">
  <h3>Add new movie to our database:</h3>
<div *ngIf="!showMovie">
  <button type="button" class="btn btn-dark" (click)="showMovieForm()">Add movie</button>
</div>
</div>


<form name="movieForm" class="p-2 text-center" *ngIf="showMovie">
  <div class="form-group">
    <input type="text" [(ngModel)]="movie.title" name="title" class="form-control" placeholder="enter movie title">
  </div>
  <div class="form-group">
    <input type="text" [(ngModel)]="movie.genre" name="genre" class="form-control" placeholder="enter movie genre">
  </div>
  <div class="form-group">
    <input type="text" [(ngModel)]="movie.releaseYear" name="releaseYear" class="form-control" placeholder="enter release year">
  </div>
  <div class="form-group">
    <input type="text" [(ngModel)]="movie.length" name="length" class="form-control" placeholder="enter movie length">
  </div>
  <div class="form-group">
    <input type="text" [(ngModel)]="movie.description" name="description" class="form-control" placeholder="enter description">
  </div>
  <button type="submit" class="btn btn-dark m-1" (click)="saveMovie()">Save</button>
  <button type="button" class="btn btn-dark m-1" (click)="cancelSave()">Cancel</button>
</form>


<div class="m-3" *ngIf="!showMovie">
  <h4>Show All movies:</h4>
  <div>
    <button type="button" (click)="showMovieList()" class="btn btn-dark">Show movies</button>
  </div>
</div>


<div class="m-3 justify-content-center p-2 border border-dark" *ngIf="showMovies">
  <div class="m-3 justify-content-center p-2 border border-dark" *ngFor="let movie of movies">
    <h4><b>Title: {{movie.title}}</b></h4>
    <p>Genre: {{movie.genre}}</p>
    <p>Release year: {{movie.releaseYear}}</p>
    <p>Length: {{movie.length}}</p>
    <p>Description: {{movie.description}}</p>
    <div>
      <button type="button" class="btn btn-dark btn-sm">DELETE</button>
      <button type="button" class="btn btn-dark btn-sm">EDIT</button>
    </div>
  </div>
</div>









