<div>

  <div *ngIf="!editUserInfo">
    <h2 class="m-3">Username: <b>{{user.userName}}</b></h2>
    <img [src]="user.image" style="max-width: 200px" class="m-3" alt="picture">
    <div class="border border-dark m-3 justify-content-center p-2">
      <p>Name: {{user.firstName}} {{user.lastName}}</p>
      <p>Email: {{user.email}}</p>
      <div>
        <button type="button" class="btn btn-sm btn-dark" (click)="editUserInfo = true">EDIT</button>
      </div>
    </div>
  </div>

  <div *ngIf="editUserInfo">
    <h4><b>{{user.userName}}</b></h4>
    <input [(ngModel)]="user.image" placeholder="image" type="url" class="w3-input">
    <p>Name: <input type="text" [(ngModel)]="user.firstName" placeholder="first name" name="firstName"> <input type="text" [(ngModel)]="user.lastName" placeholder="last name" name="lastName"></p>
    <p>Email: <input type="text" [(ngModel)]="user.email" placeholder="email" name="email"></p>
    <div>
      <button type="button" class="btn btn-sm btn-dark" (click)="saveUserInfo(user)">SAVE</button>
      <button type="button" class="btn btn-sm btn-dark" (click)="cancelEditMode(user)">CANCEL</button>
    </div>
  </div>

</div>
