<div class="p-2 text-center top-buffer">
  <h1>Get your random movie!</h1>
  <div>
    <button class="btn btn-dark" (click)="onGetMovie()">Get movie</button>
  </div>
</div>


<div *ngIf="showMovie" class="container w-25 p-2 border border-dark">
  <div>
    <img [src]="movie.image" class="img-fluid mx-auto m-3" alt="picture">
  </div>
    <div class="row justify-content-center">
      <h4><b>Title: {{movie.title}}</b></h4>
    </div>
  <div class="row justify-content-center">
    <p>Genre: {{movie.genre}}</p>
  </div>
  <div class="row justify-content-center">
    <p>Release year: {{movie.releaseYear}}</p>
  </div>
  <div class="row justify-content-center">
    <p>Length: {{movie.length}}</p>
  </div>
  <div>
    <p>Description: {{movie.description}}</p>
  </div>
</div>
